#app {
  display: flex;
  flex-direction: row;
  /* flex-direction: column;
  flex-direction: row-reverse;
  flex-direction: column-reverse; */
}

.box {
  width: 60px;
  height: 60px;
  background: #f00;
  margin: 5px;
}
